body {
    background-color: rgb(29, 29, 29);
    margin: 0;
    font-family: Arial, sans-serif;
}

.MenuBar {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    background-color: rgb(255, 217, 0);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.Menu-icono {
    width: auto;
    height: 60px;
}

.Menu-botones {
    background-color: #474747;
    color: white;
    border: none;
    padding: 20px 20px;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Menu-botones:hover {
    background-color: #585858;
}

.Menu-izquierda {
    display: flex;
    align-items: center;
}

.Menu-derecha {
    display: flex;
}

.carrusel {
    background-color: rgb(29, 29, 29);
    position: relative;
    height: 600px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.fondo {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    opacity: 0;
    object-fit: cover;
    transition: opacity 2s ease-in-out;
}

img.activo {
    opacity: 1;
}

/* Aqui empieza el texto*/

.carrusel-texto {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 30%, transparent 100%);
    color: white;
}

.pack-texto {
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
    transform: translateX(-50px);
}

.pack-texto.activo {
    opacity: 1;
    transform: translateX(0);
}

.textos {
    position: relative;
    top: -20px;
    width: 60%;
}

h2.textos {
    font-weight: 900;
}

p.textos {
    font-weight: bold;
}

#botones {
    position: absolute;
    width: 30%;
    height: 40px;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
}

.flechas {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
}

.flechas:hover {
    background-color: rgb(117, 117, 117);
}

.pie {
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 40px;
    transition: height 0.4s ease;
}